<footer>
    <a href="/"><img src="/imagens/trainerv2.svg" id="logoRodape" /></a><br />
    <hr />
    <div id="icons">
        <a href="https://www.instagram.com/tcc_trainer/"><i class='bx bxl-instagram' style='color:#f76c35'></i></a>
    </div>

    <div id="link">
        <div id="links">
            <h5>Institucional</h5>
            <a href="">Sobre Nós</a><br />
            <a href="">Central de ajuda</a><br />
            <a href="termos">Termos de Uso</a><br/>
            <a href="politicas">Políticas de privacidade</a><br />
    </div>

</footer>