<footer>
    <a href="/"><img src="/imagens/trainerv2.svg" id="logoRodape" /></a><br />
    <hr />
    <div id="icons">
        <a href="https://www.instagram.com/tcc_trainer/"><i class='bx bxl-instagram' style='color:#f76c35'></i></a>
        <i class="bx bxl-twitter"></i>
        <i class="bx bxl-facebook-square"></i>
    </div>

    <div id="link">
        <div id="links">
            <h5>Institucional</h5>
            <a href="">Sobre Nós</a><br />
            <a href="">Central de ajuda</a><br />
            <a href="">Termos de Uso</a><br/>
            <a href="">Políticas de privacidade</a><br />
        </div>

        <div id="links">
            <h5>Corporativo</h5>
            <a href="">Indique um personal</a><br />
            <a href="">Divulgue seu trabalho</a><br />
        </div>
    </div>
</footer>