<header>
    <img src="/imagens/trainerv2.svg" alt="logo" id="logo" />
    <hr />
    <section id="menuLoginPesquisa">
        <div id="menuLogin">
<nav role="navigation">
<div id="menuToggle">
<input type="checkbox"/>
<span></span>
<span></span>
<span></span>
<ul id="menu">
<a href="#"><li>Perfil</li></a>
<a href="#"><li>Descrição</li></a>
<a href="#"><li>Comentários</li></a>
<a href="#"><li>Personais salvos</li></a>
<hr>
<a href="#"><li>Políticas de privacidade</li></a>
<a href="#"><li>Ferramentas profissionais</li></a>
<a href="#"><li>Central de ajuda</li></a>
</ul>
</div>
            <div id="bLogin">
                <a href="/login"> <button class="login">Login</button></a><br />
            </div>
        </div>

        <div id="busca">
            <i class="bx bx-search-alt-2" style="color: #ffffff" id="lupa"></i>
            <input type="text" placeholder="Busque um personal trainer..." id="pesquisa" />
        </div>
    </section>
</header>
