<header>
    <section id="cabeçalho">
    <a href="/"><img src="/imagens/trainerv2.svg" alt="logo" id="logo"/></a>
    <hr />
<div id="menuLogin">
<nav role="navigation">
<div id="menuToggle">
<input type="checkbox"/>
<span></span>
<span></span>
<span></span>
<ul id="menu">
<a href="/login"><i class='bx bxs-user'></i><li>Perfil</li></a>
<a href="/personais"><i class='bx bx-dumbbell'></i><li>Personais</li></a>
<a href="#"><i class='bx bxs-info-circle'></i><li>Sobre Nós</li></a>
<hr>
<div id="institucional">
<a href="/politicas"><li>Políticas de Privacidade</li></a>
<a href="/termos"><li>Termos de Uso</li></a>
<a href="#"><li>Central de Ajuda</li></a>
</div>
</ul>
</div>
</nav>

<div id="bLogin">
                <a href="/login"> <button class="login">Login</button></a><br />
</div>
<div id="bCadastro">
    <a href="/cadastro"> <button class="cadastro">Cadastrar-se</button></a><br />
</div>

</div>
</section>
    <hr>
</header>
