<header>
    <img src="/imagens/trainerv2.svg" alt="logo" id="logo" />
    <hr />
    <section id="menuLoginPesquisa">
        <div id="menuLogin">
<nav role="navigation">
<div id="menuToggle">
<input type="checkbox"/>
<span></span>
<span></span>
<span></span>
<ul id="menu">
<a href="/login.ejs"><i class='bx bxs-user' style='color:#ffffff'></i><li>Perfil</li></a>
<a href="#"><li>Personais</li></a>
<a href="#"><li>Sobre Nós</li></a>
<hr>
<div id="institucional">
<a href="/politicas.ejs"><li>Políticas de privacidade</li></a>
<a href="/termos.ejs"><li>Termos de Uso</li></a>
<a href="#"><li>Central de ajuda</li></a>
</div>
</ul>
</div>
</nav>

<div id="bLogin">
                <a href="/login"> <button class="login">Login</button></a><br />
</div>
</div>

        <div id="busca">
            <i class="bx bx-search-alt-2" style="color: #ffffff" id="lupa"></i>
            <input type="text" placeholder="Busque um personal trainer..." id="pesquisa" />
        </div>
    </section>
</header>
