
@media only screen and (max-width: 480px) {
@import url('https://fonts.googleapis.com/css2?family= Open+Sans:wght@300;400;700família= Open+Sans:wght@300;400;700;800 & =swap');
@import url('https://fonts.googleapis.com/css2?family= Inter:wght@100;400;700;900 & display=swap');

body{
  background-color: #f9f9f9d1;
}

header hr:last-child, #imgHome1_1, #slideImg1_1, #slideImg2_1, 
#slideImg3_1, #imgHome2_1, #bCadastro, #cardPersonais{
  display: none;
}

#logo{
width: 60%;
display: block;
margin: 1.5% auto 0;
}

hr{
  height: 2px;
  background-color: #797979;
  border: none;
}

#menuLogin{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#menuToggle {
  display: block; 
  position: relative;
  z-index: 1;
  user-select: none;
  }
  
  #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* esconder isso */
  z-index: 2; /* e coloque sobre o hamburger */
  }
  
  #menuToggle span {
  display: block;
  width: 33px;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
  transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) { 
    transform-origin: 0% 100%;
    margin: auto;
  }

  #menuToggle input:checked ~ span {
    width: 36px;
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
    }
    /* Mas vamos esconder o do meio */
    #menuToggle input:checked ~ span:nth-last-child(3) {    
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    } 
    /* e o último deve ir na outra direção */
    #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
    }

  #menu {
    border-radius: 0 10px 10px 0;
      position: absolute;
      width: 550%;
      margin: 10px 0 0 -15px;
      padding: 15px 0 0 15px;
      background: #f76c35;
      list-style-type: none;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
     }
  
  #menu a{
    font-weight: bold;
    margin-bottom: 8%;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
    display: flex;
    align-items: center;
  }

  #menu i{
    color: white;
    margin-right: 1%;
  }

  #menu #institucional{
    margin-bottom: 10%;
  }

  #menu #institucional a{
    font-size: 100%;
    margin-bottom: 5%;
  }
  
  #menu hr{
    display: -webkit-inline-box;
    background-color: white;
    height: 0.25px;
    width: 95%;
    margin-bottom: 8%;
  }

      /* Vamos deslizar da esquerda */
  #menuToggle input:checked ~ ul {
      transform: none;
      }

#bLogin{
  text-align: right;
  align-self: center;
  height: 100%;
  width: 60%;
}

button.login {
    width: 50%;
    padding: 2px ;
    border: none;
    border-radius: 6px;
    background-color: #f76c35;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 110%;
  }

#sectionCarrossel{
  height: 1px;
  position: sticky;
}

#carrossel {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    height: 100%;
}

#carrossel li {
    list-style: none;
    position: absolute;
}

#carrossel img {
    margin: auto;
    width: 100%;
    vertical-align: top;
}

#carrossel input {
  display: none;
}

#carrossel label {
  background-color: white;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 8px;
  position: absolute;
  width: 8px;
  z-index: 10;
  border-radius: 2px;
}

#carrossel li:nth-child(1) label {
  left: 45%;
}

#carrossel li:nth-child(2) label {
  left: 50%;
}

#carrossel li:nth-child(3) label {
  left: 55%;
}

#carrossel img {
  opacity: 0;
  visibility: hidden;
}

#carrossel li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
main{
  color: #333333;
}

#infTrainer{
  margin: auto;
  width: 95%;
}

#oqÉ{
  font-family: 'Open Sans', 'Inter', sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 120%;
  margin-top: 75%;
  letter-spacing: -1px;
}

#oqÉ span, #txtDesculpas span, main section h5 span, #personal h4 span{
  color: #f76c35;
}

#txtImg{
  display: flex;
  align-items: center;
  margin: 8% 0;
}

/*:root {
  font-size: clamp(.8rem, 2vw, 1.4rem);
}*/


#txtImg p{
  text-align: left;
  font-family: 'Open Sans', 'Inter', sans-serif;
  font-size: 90%;
  font-weight: 300;
  line-height: 1.25;
}
#txtImg img{
  width:85%;
}
#txtImg div{
  text-align: center;
}
 
#desculpas{
  display: flex;
  align-items: center;
  font-family: 'Open Sans', 'Inter', sans-serif;
  margin-bottom: 12%;
}
#desculpas img{
  width: 45%;
}

#txtDesculpas h5{
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  font-size: 100%;
  line-height: 1.25;
}


#txtDesculpas p{
  padding-left: 5%;
  text-align: right;
  font-family: 'Open Sans', 'Inter', sans-serif;
  font-weight: 300;
  line-height: 1.25;
}

main section h5{
  margin-bottom: 3%;
  text-align: center;
  font-family: 'Open Sans', 'Inter', sans-serif;
  font-weight: bold;
}

#personal{
  width: 95%;
  margin: auto;
}

#personal h3{
  font-size: 175%;
  font-family: 'Open Sans', 'Inter', sans-serif;
  font-weight: bold;
  text-align: center;
}
#personal hr{
  width:15%;
  height: 4px;
  margin-bottom: 5%;
}

#personal h4{
  font-size: 115%;
  font-family: 'Open Sans', 'Inter', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1%;
}

#personal p{
  text-align: center;
  font-family: 'Open Sans', 'Inter', sans-serif;

}

#personais{
  font-family: 'Open Sans', 'Inter', sans-serif;
  display: flex;
  margin-bottom: 5%;
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 3px 13px -5px;
}

#personais img{
  padding: 4%;
  background-color: #f76c35;
  float:left;
  border-radius: 10px 0 0 10px;
  text-align: center;
}

#personais #dados{
  width: 95%;
  margin: 5% 0 0 2%;
  text-align: left ;
}

#personais #dados h5{
  margin-bottom: 3%;
  font-size: 130%;
  text-align: left ;
}

#personais #dados p{
  margin-bottom: 2%;
  color: #555555;
  font-size: 100%;
  text-align: left ;
}

#divSalvar{
  margin: 5% 4% 0 0;
  width: 5%;
}

#personais i{
  position: absolute;
  color: #f76c35;
  text-align: right;
  font-size: 130%;
  z-index: 1;
}

#salvo{
  opacity: 0;
  transition: opacity 0.2s ease;
}

#personais input {
  display: block;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* esconder isso */
  z-index: 2; /* e coloque sobre o hamburger */
  }

#divSalvar input:checked ~ #salvo{
  opacity: 1;
}

#vejaMais{
  text-decoration: none;
}

#vejaMais h5{
  color: #f76c35;
  text-align: right;
  font-family: 'Open Sans', 'Inter', sans-serif;
  font-size: 110%;
  margin-bottom: 10%;
  font-weight: bold;
}

footer{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 5%;
}
#logoRodape{
    width: 50%;
}

footer hr{
  height: 1.5px;
  color: #555555;
}

#icons{
  margin: auto;
  color: #f76c35;
  font-size: 250%;
  justify-content: space-between;
  margin-bottom: 5%;
}

#links h5{
  font-family: 'Open Sans', 'Inter', sans-serif;
  font-weight: bold;
  margin-bottom: 5%;
  font-size: 115%;
}

#links a{
  font-size: 90%;
  color: #555555;
  font-family: 'Open Sans', 'Inter', sans-serif;
  text-decoration: none;
  line-height: 1.5;
}
}

@media only screen and (min-width:481px){
  @import url('https://fonts.googleapis.com/css2?family= Open+Sans:wght@300;400;700família= Open+Sans:wght@300;400;700;800 & =swap');
  @import url('https://fonts.googleapis.com/css2?family= Inter:wght@100;400;700;900 & display=swap');

  body{
    margin: auto;
    max-width: 1024px;
    background-color: #f9f9f9d1;
  }

  #menuToggle span, #menuToggle input, #menuToggle hr, #institucional, 
  #cabeçalho hr, #txtImg img:first-child, #slideImg1, #slideImg2, #slideImg3,
  #desculpas img:first-child, #personais{
    display: none;
  }

  #logo{
  width: 100%;
  display: block;
  }
  
  hr{
    height: 2px;
    background-color: #797979;
    border: none;
  }

  #cabeçalho{
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
  }

  #menuLogin{
    display: flex;
    align-items: center;
  }

  #menu{
    display: flex;
    justify-content: space-between;
  }

  #menu a{
    margin-right: 15px;
    white-space: nowrap;
    font-weight: bold;
    color:#f76c35;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 125%;
    display: flex;
    align-items: center;
  }

  #menu i{
    color: #f76c35;
    margin-right: 1%;
  }

  #bLogin{
    text-align: center;
    width: 80px;
  }
  
  button.login {
      height: 37px;
      width: 95%;
      padding: 2px;
      border: none;
      border-radius: 6px;
      background-color: #f76c35;
      color: #ffffff;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 120%;
    }

  #bCadastro{
    text-align: right;
    width: 150px;
  }
  
  button.cadastro{
      height: 37px;
      width: 95%;
      padding: 2px;
      border: solid #f76c35;
      border-radius: 6px;
      background-color: white;
      color: #f76c35;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 120%;
    }

  #sectionCarrossel{
    height: 1px;
    position: sticky;
  }
  
  #carrossel {
      display: block;
      width: 100%;
      margin: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      position: relative;
      height: 100%;
  }
  
  #carrossel li {
      list-style: none;
      position: absolute;
  }
  
  #carrossel img {
      margin: auto;
      width: 100%;
      vertical-align: top;
  }
  
  #carrossel input {
    display: none;
  }
  
  #carrossel label {
    background-color: white;
    bottom: 12px;
    cursor: pointer;
    display: block;
    height: 15px;
    position: absolute;
    width: 15px;
    z-index: 10;
    border-radius: 2px;
  }
  
  #carrossel li:nth-child(1) label {
    left: 45%;
  }
  
  #carrossel li:nth-child(2) label {
    left: 50%;
  }
  
  #carrossel li:nth-child(3) label {
    left: 55%;
  }
  
  #carrossel img {
    opacity: 0;
    visibility: hidden;
  }
  
  #carrossel li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
  main{
    color: #333333;
  }

  #infTrainer{
    margin: auto;
    width: 95%;
  }
  
  #oqÉ{
    font-family: 'Open Sans', 'Inter', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 175%;
    margin-top: 65%;
    letter-spacing: -1px;
  }
  
  #oqÉ span, #txtDesculpas span, main section h5 span, #personal h4 span{
    color: #f76c35;
  }
  
  #txtImg{
    display: flex;
    align-items: center;
    margin: 3% 2%;
  }
  
  #txtImg p{
    text-align: left;
    font-family: 'Open Sans', 'Inter', sans-serif;
    font-size: 125%;
    font-weight: 300;
    line-height: 2;
  }
  #txtImg #imgHome1_1{
    width: 100%;
  }
  #txtImg div{
    width: 100%;
    text-align: right;
  }
   
  #desculpas{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', 'Inter', sans-serif;
    margin-bottom: 5%;
  }
  #desculpas #imgHome2_1{
    width: 55%;
  }
  
  #txtDesculpas h5{
    margin-bottom: 5%;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    font-size: 140%;
    line-height: 1.75;
  }
  
  
  #txtDesculpas p{
    font-size: 120%;
    text-align: right;
    font-family: 'Open Sans', 'Inter', sans-serif;
    font-weight: 300;
    line-height: 2;
  }
  
  main section h5{
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Open Sans', 'Inter', sans-serif;
    font-weight: bold;
  }

  #personal{
    width: 98%;
    margin: auto;
  }
  
  #personal h3{
    font-size: 220%;
    font-family: 'Open Sans', 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
  }
  #personal hr{
    width:10%;
    height: 4px;
    margin-bottom: 5%;
  }
  
  #personal h4{
    font-size: 150%;
    font-family: 'Open Sans', 'Inter', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1%;
  }
  
  #personal p{
    text-align: center;
    font-family: 'Open Sans', 'Inter', sans-serif;
  }

  #cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;  
  }

  #cardPersonais{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5% 2%;
    border-radius: 10px;
    border: solid 2px #f76c35;
    width: 28%;
    text-align: center;
    background-color: white;
  }

  #cardPersonais img{
    margin: 0 auto;
    border-radius: 100%;
    border: solid 1px;
    width: 50%;
    margin-bottom: 3%;
  }

  #cardPersonais h5{
    margin-bottom: 1%;
    font-size: 160%;
  }

  #cardPersonais #profissional{
    font-family: 'Open Sans', 'Inter', sans-serif;
    font-weight: bold;
    color: #f76c35;
    text-transform: uppercase;
    font-size: 100%;
    margin-bottom: 2%;
  }

  #cardPersonais h6{
    margin-bottom: 8%;
    font-family: 'Open Sans', 'Inter', sans-serif;
    font-size: 110%;  
  }

  #cardPersonais p{
    margin-bottom: 5%;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
  }

  #cardPersonais #contato{
    margin-bottom: 5%;
  }

  #contatos{
    margin-bottom: 3%;
    display: flex;
    align-items: flex-end;
  }

  #contatos p{
    font-size: 130%;
    font-weight: bold;
    margin: 0;
    color: #f76c35;
  }

  #contatos i{
    padding: 2px;
    font-size: 175%;
    color: #f76c35;
  }

  #verPerfil_Salvar{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
  }

  #vPerfil{
    text-transform: uppercase;
    font-size: 95%;
    font-family: 'Open Sans', 'Inter', sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 7px;
    background-color: #f76c35;
    border: none;
    width: 85%;
    height: 35px;
  }

  #divSalvar{
    justify-content: flex-end;
    display: flex;
    width: 15%;
  }
  #divSalvar i{
    margin-right: -5px;
    position: absolute;
    color: #f76c35;
    text-align: right;
    font-size: 235%;
    z-index: 1;
  }
  
  #salvo{
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  #divSalvar input {
    width: 20px;
    height: 25px;
    display: block;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    }
  
  #divSalvar input:checked ~ #salvo{
    opacity: 1;
  }

  #vejaMais{
    text-decoration: none;
  }
  
  #vejaMais h5{
    color: #f76c35;
    font-family: 'Open Sans', 'Inter', sans-serif;
    font-size: 175%;
    margin-bottom: 10%;
    font-weight: bold;
  }

  footer{
    width: 80%;
    margin: 10% auto 50px auto;  
    text-align: center;
  }
  #logoRodape{
      width: 50%;
  }
  
  footer hr{
    height: 1.5px;
    color: #555555;
  }
  
  #icons{
    margin: auto;
    color: #f76c35;
    font-size: 250%;
    margin-bottom: 10px;
  }
  
  footer h5{
    font-family: 'Open Sans', 'Inter', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 175%;
  }
  
  #links a{
    font-size: 110%;
    color: #555555;
    font-family: 'Open Sans', 'Inter', sans-serif;
    text-decoration: none;
    line-height: 1.5;
  }
}  