@media only screen and (max-width: 480px) {
  @import url('https://fonts.googleapis.com/css2?family= Open+Sans:wght@300;400;700família= Open+Sans:wght@300;400;700;800 & =swap');
  @import url('https://fonts.googleapis.com/css2?family= Inter:wght@100;400;700;900 & display=swap');
  
body{
  background-color: #f9f9f9d1;
}
#logo{
width: 60%;
display: block;
margin: 1.5% auto 0;
}

hr{
  height: 2px;
  background-color: #797979;
  border: none;

}

main{
  margin: auto;
  text-align: center;
  font-family: 'Open Sans', 'Inter', sans-serif;
  font-weight: bold;
}

main h3{
  font-weight: bold;

}
main form{
  width: 70%;
  margin: 5% auto 2% auto;
  display: flex;
  flex-direction: column;
}

main form label{
  font-size: 80%;
  margin-bottom: 2%;
  align-self: flex-start;
  text-transform: uppercase;
  
}

main form input{
  font-size: 110%;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  border-color: #f76c35;
  border-radius: 6px;
}

main form input.erro {
    border-color: red;
}

main form span.erro-mensagem {
    font-size: 80%;
    color: red;
}

#entrar{
  height: 100%;
  border: none;
  border-radius: 6px;
  background-color: #f76c35;
  color: #ffffff;
  width: 55%;
  font-size:150%;
  font-weight: bold;
  letter-spacing: 0.5px;
  align-self: center;
}

main div{
  margin: auto;
  width: 35%;
  display: flex;
  color: #f76c35;
  font-size: 200%;
  justify-content: space-between;
  margin-bottom: 2%;
}

main h3 span, main a span{
  color: #f76c35;
}

main a{
  font-size: 80%;
  text-decoration: none;
  color: black;
}

footer{
  width: 80%;
  margin: 10% auto 5% auto;  
  text-align: center;
}
#logoRodape{
    width: 50%;
}

footer hr{
  height: 1.5px;
  color: #555555;
}

#icons{
  margin: auto;
  color: #f76c35;
  font-size: 250%;
  justify-content: space-between;
  margin-bottom: 5%;
}

#link{
  text-align: left;
  display: flex;
  justify-content: space-between;
}

#links h5{
  font-family: 'Open Sans', 'Inter', sans-serif;
  font-weight: bold;
  margin-bottom: 5%;
  font-size: 115%;
}

#links a{
  font-size: 90%;
  color: #555555;
  font-family: 'Open Sans', 'Inter', sans-serif;
  text-decoration: none;
  line-height: 1.5;
}
}