@media only screen and (max-width: 480px) {
    @import url('https://fonts.googleapis.com/css2?family= Open+Sans:wght@300;400;700família= Open+Sans:wght@300;400;700;800 & =swap');
    @import url('https://fonts.googleapis.com/css2?family= Inter:wght@100;400;700;900 & display=swap');

    body{
        background-color: #f9f9f9d1;
      }

    #logo{
        width: 60%;
        display: block;
        margin: 1.5% auto 0;
        }
        
    hr{
      height: 2px;
      background-color: #797979;
      border: none;
    
    }

    main{
        font-family: 'Open Sans', sans-serif;
        margin: 5% auto;
        width: 90%;
        color: #333333;
    }


    h4{
        margin-bottom: 10%;
        font-size: 150%;
        font-weight: bold;
        text-transform: uppercase;
    }

    .titulo-perfil span{
        color: #f76c35;
    }

    .titulo-perfil{
        text-align: center;
        font-size: 175%;
        font-weight: bolder;
        margin-bottom: 2%;
    }

    .local{
        font-size: 110%;
        text-align: center;
        margin-bottom: 10%;
    }

    .edit-perfil{
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .edit-perfil i{
        font-size: 150%;
        color: #f76c35;
    }

    .edit-perfil p{
        margin-left: 1.5%;
        font-size: 125%;
        color: #f76c35;
    }


    .tabs{
        display: flex;
        justify-content: space-between;
    }

    .tab-content{
        text-align: center;
        margin-top: 10%;
    }
    
    #t-personais, #t-atividades{
        text-align: center;
        width: 40%;
        border-radius: 6px;
        padding: 3% 3% 0;        
        border: solid #f76c35;
        height: 25px;
        text-decoration: none;
        color:#f76c35;
        font-weight: bold;
        font-size: 100%;
        cursor: pointer;
    }

    #pSalvos{
        display: none;
    }
    
    #pSalvos.active{
        display: block;
    }
    
    #t-personais.active{
        color: white;
        background-color: #f76c35;
    }

    #personais{
        font-family: 'Open Sans', 'Inter', sans-serif;
        display: flex;
        margin-bottom: 5%;
        background-color: #ffffff;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 2px 3px 13px -5px;
      }
      
      #personais img{
        padding: 4%;
        background-color: #f76c35;
        float:left;
        border-radius: 10px 0 0 10px;
        text-align: center;
      }
      
      #personais #dados{
        width: 95%;
        margin: 5% 0 0 2%;
        text-align: left ;
      }
      
      #personais #dados h5{
        text-transform: uppercase;
        margin-bottom: 3%;
        font-size: 130%;
        text-align: left ;
        font-weight: bold;
      }
      
      #personais #dados p{
        margin-bottom: 2%;
        color: #555555;
        font-size: 100%;
        text-align: left ;
      }
      
      #divSalvar{
        margin: 5% 2% 0 0;
        width: 5%;
      }
      
      #personais i{
        color: #f76c35;
        font-size: 130%;
      }

    #atividades{
        display: none;
        flex-direction: column;
        margin: 20px;
    }
    
    #atividades.active{
        display: flex;
    }
    
    #t-atividades.active{
        color: white;
        background-color: #f76c35;
    }

    #agenda{
        margin-bottom: 10%;
    }

    #agenda img{
        width: 100%;
        margin-bottom: 5%;
    }

    #agenda p{
        margin-bottom: 2%;
        color: #555555;
        font-size: 110%;
        text-align: left ;
    }

    #atividades img{
        margin-bottom: 10%;
    }

    footer{
        width: 80%;
        margin: 10% auto 5% auto;  
        text-align: center;
      }
      #logoRodape{
          width: 50%;
      }
      
      footer hr{
        height: 1.5px;
        color: #555555;
      }
      
      #icons{
        margin: auto;
        color: #f76c35;
        font-size: 250%;
        justify-content: space-between;
        margin-bottom: 5%;
      }
      
      footer h5{
        font-family: 'Open Sans', 'Inter', sans-serif;
        font-weight: bold;
        margin-bottom: 5%;
        font-size: 115%;
      }
      
      #links a{
        font-size: 90%;
        color: #555555;
        font-family: 'Open Sans', 'Inter', sans-serif;
        text-decoration: none;
        line-height: 1.5;
      }
}