@media only screen and (max-width: 480px) {
    @import url('https://fonts.googleapis.com/css2?family= Open+Sans:wght@300;400;700família= Open+Sans:wght@300;400;700;800 & =swap');
    @import url('https://fonts.googleapis.com/css2?family= Inter:wght@100;400;700;900 & display=swap');

    body{
        background-color: #f9f9f9d1;
      }

    #logo{
        width: 60%;
        display: block;
        margin: 1.5% auto 0;
        }
        
    hr{
      height: 2px;
      background-color: #797979;
      border: none;
    
    }

    main{
        font-family: 'Open Sans', sans-serif;
        margin: auto;
        width: 90%;
        color: #333333;
    }
    
    #dados{
        text-align: center;
    }

    #dados img{
        width: 35%;
        margin-bottom: 5%;
    }

    #dados h5{
      font-weight: bold;
      margin-bottom: 1%;
      font-size: 160%;
    }

    #dados #profissional{
      font-weight: bold;
      color: #f76c35;
      text-transform: uppercase;
      font-size: 100%;
      margin-bottom: 2%;
    }

    #dados h6{
      margin-bottom: 8%;
      font-family: 'Open Sans', 'Inter', sans-serif;
      font-size: 110%;  
    }

    #dados p{
      font-size: 115%;
      margin-bottom: 5%;
      font-weight: 300;
      line-height: 1.5;
      text-align: justify;
    }

    #dados div div:first-child{
        display: flex;
        margin-bottom: 5%;
    }

    #buttons{
        display: flex;
    }
    
    #buttons butoon {
        border: none;
        background-color: #f76c35;
        border-radius: 6px;
        color: white;
        height: 30px;
    }
}