<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <%- include("../templates/head.ejs") %>
		<link href="/css/home.css" rel="stylesheet" />
		<script type="text/javascript" src="/js/index.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%- data.page %></title>
	</head>
	<body>
		<%- include("../templates/header.ejs") %>

<main>
	<section id="sectionCarrossel">
    <ul id="carrossel">
        <li>
            <input type="radio" id="slide1" name="slide" checked />
            <label for="slide1"></label>
            <img src="/imagens/slide1.jpg" id="slideImg1">
        </li>
        <li>
            <input type="radio" id="slide2" name="slide" />
            <label for="slide2"></label>
            <img src="/imagens/slide2.jpg" id="slideImg2">
        </li>
        <li>
            <input type="radio" id="slide3" name="slide" />
            <label for="slide3"></label>
            <img src="/imagens/slide3.jpg" id="slideImg3"><br />
        </li>
    </ul>
	</section>

	<section id="infTrainer">
		<h3 id="oqÉ">O QUE É A <span>TRAINER</span> ?</h3>
		<br />
		<div id="txtImg">
			<div>
				<p>A Trainer é um site para indicar a pessoas que estão a preocura de personais trainer que estaram disponiveis para te ajudar em algo que ele possa te oferecer, com trabalhos em academias próximas de sua casa ou ate mesmo pela internet.</p>
			</div>
			<div><img src="/imagens/imagemhome1.PNG" /><br /></div>
		</div>
		<div id="desculpas">
			<img src="/imagens/imagemhome2.PNG" /><br />
			<div id="txtDesculpas">
				<h5>Não invente desculpa para ter uma <span>saúde melhor</span></h5>
				<br />
				<p>Com foco e dedicação, mais a motivação que a Trainer oferece, você vai conseguir alcançar seus objetivos, sem desculpas.</p>
			</div>
		</div>
		<h5>Encontre o personal adequado <span>para você</span></h5>
		<br />
	</section>
			<Section id="personal">
				<h3>PERSONAL TRAINERS</h3>
				<hr />
				<h4>VENHA CONHECER <span>O SEU NOVO PERSONAL!</span></h4>
				<p>Um dos melhores personal + uma boa experiência</p>
				<br />

				<div id="personais">
					<img src="/imagens/silvio.svg" id="imgPersonal" />
					<div>
						<h5>SILVIO ANDRADE</h5>
						<p>Salvador-BA</p>
						<p>@silvio.andrade</p>
						<p>Profissional em Atletismo</p>
					</div>
					<Div id="divSalvar">
					<i class="bx bx-bookmark" id="salvar"></i>
					<i class="bx bxs-bookmark" id="salvo"></i>
					<input type="checkbox">
					</Div>
				</div>

				<div id="personais">
					<img src="/imagens/fernando.svg" />
					<div>
						<h5>FERNANDO COUY</h5>
						<p>São Paulo-SP</p>
						<p>@fernando personal</p>
						<p>Profissional em CrossFit</p>
					</div>
					<div id="divSalvar"> 
					<i class="bx bx-bookmark" id="salvar"></i>
					<i class="bx bxs-bookmark" id="salvo"></i>
					<input type="checkbox">
					</div>
				</div>

				<div id="personais">
					<img src="/imagens/beatriz.svg" />
					<div>
						<h5>BEATRIZ YANG</h5>
						<p>São Paulo-SP</p>
						<p>@beatrizyang</p>
						<p>Profissional em Dança</p>
					</div>
					<div id="divSalvar">
					<i class="bx bx-bookmark" id="salvar"></i>
					<i class="bx bxs-bookmark" id="salvo"></i>
					<input type="checkbox">
					</div>
				</div>
				<h5 id="vejaMais">VEJA MAIS!</h5>
			</Section>
		</main>

		<%- include("../templates/footer.ejs") %>
	</body>
</html>
