<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <%- include("../templates/head.ejs") %>
		<link href="/css/home.css" rel="stylesheet" />
		<script type="text/javascript" src="/js/index.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%- data.page %></title>
	</head>
	<body>
		<%- include("../templates/header.ejs") %>

<main>
	<section id="sectionCarrossel">
    <ul id="carrossel">
        <li onload="slide1">
            <input type="radio" id="slide1" name="slide" checked />
            <label for="slide1"></label>
            <img src="/imagens/slide1.jpg" id="slideImg1">
			<img src="/imagens/slide1_1.jpg" id="slideImg1_1">
        </li>
        <li onload="slide2">
            <input type="radio" id="slide2" name="slide" />
            <label for="slide2"></label>
            <img src="/imagens/slide2.jpg" id="slideImg2">
			<img src="/imagens/slide2_1.jpg" id="slideImg2_1">
        </li>
        <li onload="slide3">
            <input type="radio" id="slide3" name="slide" />
            <label for="slide3"></label>
            <img src="/imagens/slide3.jpg" id="slideImg3">
			<img src="/imagens/slide3_1.jpg" id="slideImg3_1">
			<br />
        </li>
    </ul>
	</section>

	<section id="infTrainer">
		<h3 id="oqÉ">O QUE É A <span>TRAINER</span> ?</h3>
		<div id="txtImg">
			<div>
				<p>A Trainer é um site indicado para pessoas que estão em busca de um novo personal. Aqui você encontra profissionais especializados em diversas áreas e em todos os locais do Brasil, 
				que estarão disponíveis para atendimento presencial ou online.</p>
			</div>
			<div><img src="/imagens/imagemhome1.PNG" />
				<img src="/imagens/imagemHome1_1.svg" id="imgHome1_1" /><br /></div>
		</div>
		<div id="desculpas">
			<img src="/imagens/imagemhome2.PNG" />
			<img src="/imagens/imagemHome2_1.svg" id="imgHome2_1"/>
			<br />
			<div id="txtDesculpas">
				<h5>Não invente desculpa para ter uma <span>saúde melhor</span></h5>
				<p>Com foco e dedicação, mais a motivação que a Trainer oferece, você vai conseguir alcançar seus objetivos sem desculpas.</p>
			</div>
		</div>
		<h5>Encontre o personal adequado <span>para você</span></h5>
	</section>
			<Section id="personal">
				<h3>PERSONAIS TRAINER</h3>
				<hr />
				<h4>VENHA CONHECER <span>O SEU NOVO PERSONAL!</span></h4>
				<p>Um dos melhores personal + uma boa experiência</p>
				<br />

				<div id="cards">
				<div id="personais">
					<img src="/imagens/silvio.svg" id="imgPersonal" />
					<div id="dados">
						<h5>SILVIO ANDRADE</h5>
						<p>Salvador-BA</p>
						<p>@silvio.andrade</p>
						<p>Profissional em Atletismo</p>
					</div>
					<Div id="divSalvar">
					<input type="checkbox">
					<i class="bx bx-bookmark" id="salvar"></i>
					<i class="bx bxs-bookmark" id="salvo"></i>
					</Div>
				</div>

				<div id="cardPersonais">
					<img src="/imagens/silvio.svg" />
					<h5>SILVIO ANDRADE</h5>
					<h6 id="profissional">Profissional em Atletismo</h6>
					<h6>Salvador-BA</h6>
					<p>Silvio Andrade, tem 30 anos e iniciou sua carreira de personal trainer há 8 anos. Silvio trabalha na "Smart Fit" e já agradou muitos de seus clientes.</p>

					<div id="contatos">
						<i class='bx bxs-phone'></i>
						<p>(71) 91234-4321</p>
					</div>
					<div id="contatos">				
						<i class='bx bxl-instagram'></i>
						<p>@silvio.andrade</p>
					</div>

					<div id="verPerfil_Salvar">
					<button id="vPerfil">Visualizar Perfil</button>
					<div id="divSalvar"><input type="checkbox">
					<i class="bx bx-bookmark" id="salvar"></i>
					<i class="bx bxs-bookmark" id="salvo"></i>
					</div>
					</div>
				</div>

				<div id="personais">
					<img src="/imagens/fernando.svg" />
					<div id="dados">
						<h5>FERNANDO COUY</h5>
						<p>São Paulo-SP</p>
						<p>@fernando_personal</p>
						<p>Profissional em CrossFit</p>
					</div>
					<div id="divSalvar"> 
					<input type="checkbox">
					<i class="bx bx-bookmark" id="salvar"></i>
					<i class="bx bxs-bookmark" id="salvo"></i>
					</div>
				</div>

				<div id="cardPersonais">
					<img src="/imagens/fernando.svg" />
					<h5>FERNANDO COUY</h5>
					<h6 id="profissional">Profissional em CrossFit</h6>
					<h6>São Paulo-SP</h6>
					<p>Fernando Couy, tem 30 anos e iniciou sua carreira de personal trainer há 10 anos. Fernando trabalha na "Full Time Academia" e os clientes dizem que ele é um dos melhores.</p>

					<div id="contatos">
						<i class='bx bxs-phone'></i>
						<p>(11) 94265-9874</p>
					</div>
					<div id="contatos">				
						<i class='bx bxl-instagram'></i>
						<p>@fernando_personal</p>
					</div>

					<div id="verPerfil_Salvar">
					<button id="vPerfil">Visualizar Perfil</button>
					<div id="divSalvar"><input type="checkbox">
					<i class="bx bx-bookmark" id="salvar"></i>
					<i class="bx bxs-bookmark" id="salvo"></i>
					</div>
					</div>
				</div>
				
				<div id="personais">
					<img src="/imagens/beatriz.svg" />
					<div id="dados">
						<h5>BEATRIZ YANG</h5>
						<p>São Paulo-SP</p>
						<p>@beatrizyang</p>
						<p>Profissional em Dança</p>
					</div>
					<div id="divSalvar">
					<input type="checkbox">
					<i class="bx bx-bookmark" id="salvar"></i>
					<i class="bx bxs-bookmark" id="salvo"></i>
					</div>
				</div>

				<div id="cardPersonais">
					<img src="/imagens/beatriz.svg" />
					<h5>BEATRIZ YANG</h5>
					<h6 id="profissional">Profissional em Dança</h6>
					<h6>São Paulo-SP</h6>
					<p>Beatriz Yang, tem 27 anos e iniciou sua carreira de personal trainer há 5 anos. Beatriz trabalha "Academia Nova Geração" e muitos dizem que ela é uma das melhores.</p>

					<div id="contatos">
						<i class='bx bxs-phone'></i>
						<p>(11) 94624-9247</p>
					</div>
					<div id="contatos">				
						<i class='bx bxl-instagram'></i>
						<p>@beatrizyang</p>
					</div>

					<div id="verPerfil_Salvar">
					<button id="vPerfil">Visualizar Perfil</button>
					<div id="divSalvar"><input type="checkbox">
					<i class="bx bx-bookmark" id="salvar"></i>
					<i class="bx bxs-bookmark" id="salvo"></i>
					</div>
					</div>
				</div>
				</div>

				<a href="./personais" id="vejaMais"><h5>VEJA MAIS!</h5></a>
			</Section>
		</main>

		<%- include("../templates/footer.ejs") %>
	</body>
</html>
