<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<%- include("../templates/head.ejs") %>
        <link rel="stylesheet" href="/css/perfilPersonal.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%- data.page %></title>
	</head>
	<body>
		<%- include("../templates/header-logo.ejs") %>

    <main>
	<section id="dados">
		<div id="salvos">
			<i class="bx bxs-bookmark" id="salvar"></i>
			<p>+99</p>
		</div>
		<img src="/imagens/silvio.svg">

 	<div>
		<h5>SILVIO ANDRADE</h5>
		<h6 id="profissional">Profissional em Atletismo</h6>
		<h6>Salvador-BA</h6>
		<p>Silvio Andrade, tem 30 anos e iniciou sua carreira de personal trainer há 8 anos. Silvio trabalha na "Rede Smart Fit" e já agradou muitos de seus clientes.</p>

		<div id="buttons">
			<button>Salvar Personal</button>
			<button>Iniciar Conversar</button>
		</div>
	</div>
	</section>

	<h4>Atividades <span>Disponíveis</span></h4>

	<section id="atividades">
		<div>
			<h6>Corrida no Parque</h6>
		</div>
		<button>Participar</button>
	</section>

    </main>
        <%- include("../templates/footer.ejs") %>
    </body>
</html>