<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <%- include("../templates/head.ejs") %>
		<link href="/css/personais.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%- data.page %></title>
	</head>
	<body>
		<%- include("../templates/header.ejs") %>

<main>
    <div id="busca">
        <i class="bx bx-search-alt-2" style="color: #ffffff" id="lupa"></i>
        <input type="text" placeholder="Busque um personal trainer..." id="pesquisa" />
    </div>

    <h2>Personais Trainer</h2>
    
    <hr>

    <h4>Conheça seu novo personal <span>aqui!</span></h4>

    <div id="cards">
    <div id="personais">
        <img src="/imagens/silvio.svg" />
        <div id="dados">
            <h5>SILVIO ANDRADE</h5>
            <p>Salvador-BA</p>
            <p>@silvio.andrade</p>
            <p>Profissional em Atletismo</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="cardPersonais">
        <img src="/imagens/silvio.svg" />
        <h5>SILVIO ANDRADE</h5>
        <h6>Profissional em Atletismo</h6>
        <h6>São Paulo-SP</h6>
        <p>Silvio Andrade, tem 30 anos e iniciou sua carreira de personal trainer há 8 anos. Silvio trabalha na "Rede Smart Fit" e já agradou muitos de seus clientes.</p>

        <div id="contatos">
            <i class='bx bxs-phone'></i>
            <p>(71) 91234-4321</p>
        </div>
        <div id="contatos">				
            <i class='bx bxl-instagram'></i>
            <p>@silvio.andrade</p>
        </div>

        <div id="verPerfil_Salvar">
        <button id="vPerfil">Visualizar Perfil</button>
        <div id="divSalvar"><input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/fernando.svg" />
        <div id="dados">
            <h5>FERNANDO COUY</h5>
            <p>São Paulo-SP</p>
            <p>@fernando_personal</p>
            <p>Profissional em CrossFit</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="cardPersonais">
        <img src="/imagens/fernando.svg" />
        <h5>FERNANDO COUY</h5>
        <h6>Profissional em CrossFit</h6>
        <h6>São Paulo-SP</h6>
        <p>Fernando Couy, tem 30 anos e iniciou sua carreira de personal trainer há 10 anos. Fernando trabalha na "Full Time Academia" e os clientes dizem que ele é um dos melhores.</p>

        <div id="contatos">
            <i class='bx bxs-phone'></i>
            <p>(11) 94265-9874</p>
        </div>
        <div id="contatos">				
            <i class='bx bxl-instagram'></i>
            <p>@fernando_personal</p>
        </div>

        <div id="verPerfil_Salvar">
        <button id="vPerfil">Visualizar Perfil</button>
        <div id="divSalvar"><input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/yasmin.svg" />
        <div id="dados">
            <h5>YASMIN BARRETO</h5>
            <p>Jundiaí-SP</p>
            <p>@yasminb.personal</p>
            <p>Profissional em Ginástica</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="cardPersonais">
        <img src="/imagens/yasmin.svg" />
        <h5>YASMIN BARRETO</h5>
        <h6>Profissional em Ginástica</h6>
        <h6>Jundiaí-SP</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, voluptatum, provident recusandae aliquam suscipit autem temporibus adipisci fugit culpa eum quaerat.</p>

        <div id="contatos">
            <i class='bx bxs-phone'></i>
            <p>(11) 98139-8159</p>
        </div>
        <div id="contatos">				
            <i class='bx bxl-instagram'></i>
            <p>@yasmin.personal</p>
        </div>

        <div id="verPerfil_Salvar">
        <button id="vPerfil">Visualizar Perfil</button>
        <div id="divSalvar"><input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
        </div>
    </div>
    <div id="personais">
        <img src="/imagens/antonio.svg" />
        <div id="dados">
            <h5>ANTÔNIO MACEDO</h5>
            <p>Lauro de Freitas-BA</p>
            <p>@maced0_personal</p>
            <p>Profissional em Zumba</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="cardPersonais">
        <img src="/imagens/antonio.svg" />
        <h5>ANTÔNIO MACEDO</h5>
        <h6>Profissional em Zumba</h6>
        <h6>Lauro de Freitas-BA</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, voluptatum, provident recusandae aliquam suscipit autem temporibus adipisci fugit culpa eum quaerat.</p>

        <div id="contatos">
            <i class='bx bxs-phone'></i>
            <p>(71) 96247-8249</p>
        </div>
        <div id="contatos">				
            <i class='bx bxl-instagram'></i>
            <p>@maced0_personal</p>
        </div>

        <div id="verPerfil_Salvar">
        <button id="vPerfil">Visualizar Perfil</button>
        <div id="divSalvar"><input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/beatriz.svg" />
        <div id="dados">
            <h5>BEATRIZ YANG</h5>
            <p>São Paulo-SP</p>
            <p>@beatrizyang</p>
            <p>Profissional em Dança</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="cardPersonais">
        <img src="/imagens/beatriz.svg" />
        <h5>BEATRIZ YANG</h5>
        <h6>Profissional em Dança</h6>
        <h6>São Paulo-SP</h6>
        <p>Beatriz Yang, tem 27 anos e iniciou sua carreira de personal trainer há 5 anos. Beatriz trabalha "Academia Nova Geração" e muitos dizem que ela é uma das melhores.</p>

        <div id="contatos">
            <i class='bx bxs-phone'></i>
            <p>(11) 94624-9247</p>
        </div>
        <div id="contatos">				
            <i class='bx bxl-instagram'></i>
            <p>@beatrizyang</p>
        </div>

        <div id="verPerfil_Salvar">
        <button id="vPerfil">Visualizar Perfil</button>
        <div id="divSalvar"><input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/thiago.svg" />
        <div id="dados">
            <h5>THIAGO GOMES</h5>
            <p>Campinas -SP</p>
            <p>@gomes_thiagop</p>
            <p>Profissional em Atletismo</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="cardPersonais">
        <img src="/imagens/thiago.svg" />
        <h5>THIAGO GOMES</h5>
        <h6>Profissional em Atletismo</h6>
        <h6>Campinas -SP</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, voluptatum, provident recusandae aliquam suscipit autem temporibus adipisci fugit culpa eum quaerat.</p>

        <div id="contatos">
            <i class='bx bxs-phone'></i>
            <p>(19) 97824-5678</p>
        </div>
        <div id="contatos">				
            <i class='bx bxl-instagram'></i>
            <p>@gomes_thiagop</p>
        </div>

        <div id="verPerfil_Salvar">
        <button id="vPerfil">Visualizar Perfil</button>
        <div id="divSalvar"><input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/soraya.svg" />
        <div id="dados">
            <h5>SORAYA TORRES</h5>
            <p>Belo Horizonte-MG</p>
            <p>@sorayatorres.personal</p>
            <p>Profissional em CrossFit</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="cardPersonais">
        <img src="/imagens/soraya.svg" />
        <h5>SORAYA TORRES</h5>
        <h6>Belo Horizonte-MG</h6>
        <h6>Profissional em CrossFit</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, voluptatum, provident recusandae aliquam suscipit autem temporibus adipisci fugit culpa eum quaerat.</p>

        <div id="contatos">
            <i class='bx bxs-phone'></i>
            <p>(31) 99487-3248</p>
        </div>
        <div id="contatos">				
            <i class='bx bxl-instagram'></i>
            <p>@sorayatorres.personal</p>
        </div>

        <div id="verPerfil_Salvar">
        <button id="vPerfil">Visualizar Perfil</button>
        <div id="divSalvar"><input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/jorge.svg" />
        <div id="dados">
            <h5>JORGE FERREIRA</h5>
            <p>Rio de Janeiro-RJ</p>
            <p>@jorgef_personal</p>
            <p>Profissional em Luta</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="cardPersonais">
        <img src="/imagens/jorge.svg" />
        <h5>JORGE FERREIRA</h5>
        <h6>Profissional em Luta</h6>
        <h6>Rio de Janeiro-RJ</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, voluptatum, provident recusandae aliquam suscipit autem temporibus adipisci fugit culpa eum quaerat.</p>

        <div id="contatos">
            <i class='bx bxs-phone'></i>
            <p>(21) 98248-6214</p>
        </div>
        <div id="contatos">				
            <i class='bx bxl-instagram'></i>
            <p>@jorgef_personal</p>
        </div>

        <div id="verPerfil_Salvar">
        <button id="vPerfil">Visualizar Perfil</button>
        <div id="divSalvar"><input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/brunna.svg" />
        <div id="dados">
            <h5>BRUNNA FRUKLIN</h5>
            <p>Porto Alegre-RS</p>
            <p>@brunna_fruklin</p>
            <p>Profissional em Musculação</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="cardPersonais">
        <img src="/imagens/brunna.svg" />
        <h5>BRUNNA FRUKLIN</h5>
        <h6>Profissional em Musculação</h6>
        <h6>Porto Alegre-RS</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, voluptatum, provident recusandae aliquam suscipit autem temporibus adipisci fugit culpa eum quaerat.</p>

        <div id="contatos">
            <i class='bx bxs-phone'></i>
            <p>(51) 97246-3258</p>
        </div>
        <div id="contatos">				
            <i class='bx bxl-instagram'></i>
            <p>@brunna_fruklin</p>
        </div>

        <div id="verPerfil_Salvar">
        <button id="vPerfil">Visualizar Perfil</button>
        <div id="divSalvar"><input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/diego.svg" />
        <div id="dados">
            <h5>DIEGO RODRIGUES</h5>
            <p>Juiz de Fora-MG</p>
            <p>@diego_personal</p>
            <p>Profissional em Musculação</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="cardPersonais">
        <img src="/imagens/diego.svg" />
        <h5>DIEGO RODRIGUES</h5>
        <h6>Profissional em Musculação</h6>
        <h6>Juiz de Fora-MG</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, voluptatum, provident recusandae aliquam suscipit autem temporibus adipisci fugit culpa eum quaerat.</p>

        <div id="contatos">
            <i class='bx bxs-phone'></i>
            <p>(32) 97482-6158</p>
        </div>
        <div id="contatos">				
            <i class='bx bxl-instagram'></i>
            <p>@diego_personal</p>
        </div>

        <div id="verPerfil_Salvar">
        <button id="vPerfil">Visualizar Perfil</button>
        <div id="divSalvar"><input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
        </div>
    </div>
    </div>
</main>
<%- include("../templates/footer.ejs") %>
</body>
</html>