<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <%- include("../templates/head.ejs") %>
		<link href="/css/personais.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%- data.page %></title>
	</head>
	<body>
		<%- include("../templates/header.ejs") %>

<main>
    <h2>Personais Trainer</h2>

    <h4>Conheça seu novo personal <span>aqui!</span></h4>

    <div id="personais">
        <img src="/imagens/fernando.svg" />
        <div id="dados">
            <h5>FERNANDO COUY</h5>
            <p>São Paulo-SP</p>
            <p>@fernando_personal</p>
            <p>Profissional em CrossFit</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/fernando.svg" />
        <div id="dados">
            <h5>FERNANDO COUY</h5>
            <p>São Paulo-SP</p>
            <p>@fernando personal</p>
            <p>Profissional em CrossFit</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/fernando.svg" />
        <div id="dados">
            <h5>FERNANDO COUY</h5>
            <p>São Paulo-SP</p>
            <p>@fernando personal</p>
            <p>Profissional em CrossFit</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/fernando.svg" />
        <div id="dados">
            <h5>FERNANDO COUY</h5>
            <p>São Paulo-SP</p>
            <p>@fernando personal</p>
            <p>Profissional em CrossFit</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/fernando.svg" />
        <div id="dados">
            <h5>FERNANDO COUY</h5>
            <p>São Paulo-SP</p>
            <p>@fernando personal</p>
            <p>Profissional em CrossFit</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/fernando.svg" />
        <div id="dados">
            <h5>FERNANDO COUY</h5>
            <p>São Paulo-SP</p>
            <p>@fernando personal</p>
            <p>Profissional em CrossFit</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/fernando.svg" />
        <div id="dados">
            <h5>FERNANDO COUY</h5>
            <p>São Paulo-SP</p>
            <p>@fernando personal</p>
            <p>Profissional em CrossFit</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/fernando.svg" />
        <div id="dados">
            <h5>FERNANDO COUY</h5>
            <p>São Paulo-SP</p>
            <p>@fernando personal</p>
            <p>Profissional em CrossFit</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/fernando.svg" />
        <div id="dados">
            <h5>FERNANDO COUY</h5>
            <p>São Paulo-SP</p>
            <p>@fernando personal</p>
            <p>Profissional em CrossFit</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>

    <div id="personais">
        <img src="/imagens/fernando.svg" />
        <div id="dados">
            <h5>FERNANDO COUY</h5>
            <p>São Paulo-SP</p>
            <p>@fernando personal</p>
            <p>Profissional em CrossFit</p>
        </div>
        <div id="divSalvar"> 
        <input type="checkbox">
        <i class="bx bx-bookmark" id="salvar"></i>
        <i class="bx bxs-bookmark" id="salvo"></i>
        </div>
    </div>
</main>
<%- include("../templates/footer.ejs") %>
</body>
</html>