<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <%- include("../templates/head.ejs") %>
		<link href="/css/simple.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%- data.page %></title>
	</head>
<body>
    <%- include("../templates/header-logo.ejs") %>
<main>
    <h2>Política de Privacidade</h2>

    <p>Esta Política de Privacidade descreve como suas informações pessoais são coletadas, 
     usadas e compartilhadas quando você visita ou faz uma compra na Trainer.</p> 

    <h4>INFORMAÇÕES PESSOAIS QUE COLETAMOS</h4>
        <p>Quando você visita o Site, coletamos automaticamente determinadas informações sobre o seu dispositivo, 
        incluindo informações sobre seu navegador da web, endereço IP, fuso horário e de alguns dos cookies instalados 
        no seu dispositivo. Além disso, à medida que você navega no Site, coletamos informações sobre as páginas da web 
        ou produtos individuais que você visualiza, quais sites ou termos de pesquisa que indicaram o Site a você e 
        informações sobre como você interage com o Site. Referimo-nos a essa informação coletada automaticamente como 
        "Informações do dispositivo".</p>    
     
    <h4>INFORMAÇÕES</h4> 
        <p>Além disso, quando você faz uma compra ou tenta fazer uma compra no Site, nós coletamos algumas informações 
        suas, incluindo seu nome, endereço de faturamento, endereço de entrega, informações de pagamento (incluindo 
        números de cartão de crédito ou até quando você gera alguma forma de pagamento como (GERAR O QR CODE DO PIX)), 
        endereço de e-mail e número de telefone. Nós chamamos essas informações de “Informações do pedido”.</p>
    
        <p>Quando falamos sobre “Informações pessoais” nesta Política de privacidade, estamos falando sobre Informações 
        do dispositivo e Informações do pedido.</p>
    
    <h4>COMO USAMOS SUAS INFORMAÇÕES PESSOAIS?</h4>
        <p>Em geral, nós usamos as Informações do pedido que coletamos para processar quaisquer pedidos feitos por meio 
        do Site (incluindo o processamento das suas informações de pagamento o fornecimento de faturas e/ou confirmações 
        de pedidos).  Além disso, usamos essas Informações do pedido para:</p>
            <ul>
            <li>Nos comunicarmos com você;</li> 
            <li>Rastrear nossos pedidos para identificar possíveis riscos ou fraudes; e</li>
            <li>Quando de acordo com as preferências que você compartilhou conosco, para fornecer informações ou 
            publicidade relacionadas aos nossos produtos ou serviços.</li>
            </ul>
    
        <p>Nós usamos as Informações do dispositivo que coletamos para nos ajudar a rastrear possíveis riscos e fraudes 
        (especificamente seu endereço IP) e, de forma mais geral, para melhorar e otimizar o nosso Site (por exemplo, 
        gerando análises sobre como nossos clientes navegam e interagem com o Site, e para avaliar o sucesso das nossas 
        campanhas de marketing e publicidade).</p>
    
    <h4>COMPARTILHAMENTO DE SUAS INFORMAÇÕES PESSOAIS</h4>  
        <p>Nós compartilhamos suas Informações pessoais com terceiros para nos ajudar a usá-las conforme descrito acima. 
        Por exemplo, nós usamos a Shopify para alimentar nosso site. Você pode ler mais sobre como a Shopify usa suas 
        Informações pessoais aqui: <a href="https://www.shopify.com/legal/privacy">https://www.shopify.com/legal/privacy</a>.</p>
    
        <p>Por fim, podemos também compartilhar suas Informações pessoais para cumprir com as leis e regulamentos 
        cabíveis, para responder a uma intimação, mandado de busca ou outra solicitação legal de informações que 
        recebermos, ou para proteger nossos direitos.</p>
    
    <h4>NÃO RASTREAR</h4> 
        <p>Por favor, observe que nós não alteramos a coleta de dados e as práticas de uso do nosso Site quando vemos um 
        sinal de não rastrear no seu navegador.</p>

    <h4>SEUS DIREITOS</h4>
        <p>Se você é um residente europeu, tem o direito de acessar as informações pessoais que mantemos sobre você e de 
        solicitar que suas informações pessoais sejam corrigidas, atualizadas ou excluídas. Se você quiser exercer esse 
        direito, entre em contato conosco usando as informações de contato abaixo.</p>
    
        <p>Além disso, se você for um residente europeu, observe que estamos processando suas informações para cumprir 
        os contratos que podemos ter com você (por exemplo, se você fizer um pedido pelo Site) ou para proteger nossos 
        interesses comerciais legítimos listados acima.  Além disso, observe que suas informações serão transferidas 
        para fora da Europa, inclusive para o Canadá e os Estados Unidos.</p>
    
    <h4>RETENÇÃO DE DADOS</h4>
        <p>Ao fazer um pedido no Site, nós manteremos suas Informações do pedido em nossos registros a menos e até que 
        você nos peça para excluir essas informações.</p>
    
    <h4>MENORES DE IDADE (-18)</h4>
        <p>O Site não é destinado para pessoas com -18.</p>
    
    <h4>MUDANÇAS</h4>
        <p>Nós podemos atualizar esta Política de privacidade periodicamente para refletir, por exemplo, mudanças em 
        nossas práticas ou por outros motivos operacionais, legais ou regulamentares.</p>
    
    <h4>FALE CONOSCO</h4>
        <p>Para saber mais sobre nossas práticas de privacidade, caso tenha dúvidas ou se quiser fazer uma reclamação, 
        entre em contato conosco por e-mail em <a href="mailto:trainerservicos@gmail.com">trainerservicos@gmail.com</a>.</p>
        
</main>

<%- include("../templates/footer.ejs") %>
</body>

</html>